.banner{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.banner__texto--sub{
    font-weight: 500;
    color: var(--vinho);
    margin: 2em 0;
}
.banner__titulo{
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
}
.banner__texto{
    padding: 1em 0;
    font-weight: 500;
    color: var(--cinza);
    max-width: 51%;
    text-align: center;  
    
}
