.banner{
    color: #000000;
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 48px;
    font-weight: 600;
}
.banner__texto--sub{
    font-weight: 500;
    margin: 2em 0;
}
.banner__texto{
    font-weight: 500;
    margin: 2em 0;
}
